
body {
	background: #FFF;
	color: #111;
	font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
	text-align: center;
	}

	div, h1, h2, p {
		margin: 0;
		padding: 0;
		}
	a:visited {
  text-decoration: none;
  color: black;
}
a:link {
  text-decoration: none;
	color: black;
}
a {cursor: pointer;}
		#poem { 
			margin: auto;
			padding: 0px 0;
			text-align: left;
			width: 680px;
			}
		
			h1, h2 {
				font-weight: normal;
				text-align: center;
				}
				
			h1 {
				font-size: 34px;
				line-height: 1.2;
				margin-bottom: 10px;
				margin-top: 30px;
				}
			
			h2 {
				color: #666;
				font-size: 18px;
				font-style: italic;
				margin-bottom: 30px;
				}
				
			p {
				line-height: 1.5;
				margin-bottom: 15px;
				
				}
			
			/* The magic of selectors begins... */
			
			h2:before {
				content: '- ';
				}
			
			h2:after {
				content: ' -';
				}
			
			#poem  p:first-letter {
					float: left;
					font-size: 38px;
					line-height: 1;
					margin: 2px 5px 0 0;
				}
				
			#poem p:first-line {
				font-variant: small-caps;
				letter-spacing: 1px;
				}
			
			#poem p:last-child {
				margin-bottom: 30px;
				padding-bottom: 30px;
				
				}
.content-block {
	padding-top: 20px;
    page-break-inside: avoid;
	page-break-after: always;
	
  }
ol, li {font-size:20px;margin-left:70px;}
.column {
  float: left;
  width: 50%;
}
.column2 {
  float: right;
  width: 40%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  -webkit-column-gap: 70px; /* Chrome, Safari, Opera */
  -moz-column-gap: 70px; /* Firefox */
  column-gap: 70px;
}

img{display: inline; width: 70%; height: 70%;padding-top: 20px;}
article {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
article.img {float:left;}
@media print {
	#contents {padding-top:200px;}
	ol, li, a {font-size: 20px;}
	hr {display: none;}
	img{display: inline; width: 70%; height: 70%;}
	.column2 { page-break-inside: avoid;}
}
